body{
    background-color: black;
    border-style: double;
    border-radius: 50px;
}


h1 {
    color: antiquewhite;
    float:left;
    padding-left: 350px;
    clear: right;
}

#w1 {
    
    clear: both;
    float: left;
    
}

#resumen2 {
    
    font-family: verdana;
    font-size: 18px;
    float: inherit;
    border-radius: 2px;
    padding: 350px;
    padding-top: 25px;
    padding-bottom: 20px;
    display: block;
    
}


#resumen {
    
    float: left;
    color: antiquewhite;
    border-color: yellow;
}

p{
    padding: 15px;
    border-style: ridge;
    border-color: yellow;
    color: antiquewhite;
    font-family: serif;
    font-size: 20px;
    float: right;
    width: 900px;
    clear: left;

}

#trailer {
    display: block;
    float: left;
}

#centro {
    padding-left: 350px;
    padding-bottom: 15px;
    padding-top: 15px;
    float: left;
    clear: right;
    width: 900px;
    
}

#text1 {
    
    float: right;

}


#img1{
    
    display: block;
    float: right;
    padding: 25px;
}

#img2 {
    
    display: block;
    float: left;
    padding: 25px;
}
#img3 {
    
    display: block;
    float: left;
    padding: 25px;
    
}
#img4 {
    
    display: block;
    float: left;
    padding: 25px;
}

#img5 {
    
    display: block;
    float: left;
    padding: 25px;
    
}

#img6 {
    
    display: block;
    float: left;
    padding: 25px;
}




